<div class="text-bg-dark col-lg-10 col-md-9 col-sm-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="d-inline-block px-5 pt-3">Vehículos</h2>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="d-flex flex-grow-1"></div>
      </div>
      <div class="col d-flex align-items-center justify-content-end mx-5">
        <div class="col d-flex align-items-center justify-content-end mx-2">
          <button type="button" class="btn btn-primary" @click="initModal()">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5 my-2" />
  <div class="table-container px-5">
    <table class="table table-dark table-striped table-sm">
      <thead class="sticky-header">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fecha de alta</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Año</th>
          <th scope="col">Notas</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Restaurar</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vehiculo in vehiclesData" :key="vehiculo.ID">
          <td>{{ vehiculo.ID }}</td>
          <td>{{ vehiculo.FECHA_ALTA }}</td>
          <td>{{ vehiculo.MARCA }}</td>
          <td>{{ vehiculo.MODELO }}</td>
          <td>{{ vehiculo.ANIO }}</td>
          <td>{{ vehiculo.NOTAS }}</td>

          <td>
            <i
              class="bi bi-pencil"
              role="button"
              @click="editarVehiculo(vehiculo)"
            ></i>
          </td>
          <td>
            <i
              class="bi bi-trash"
              role="button"
              @click="mostrarModalEliminar(vehiculo)"
              v-if="vehiculo.ESTATUS === 'Activo'|vehiculo.ESTATUS === 'Indefinido'"
            ></i>
          </td>
          <td>
            <i
              class="bi bi-cloud-arrow-up-fill"
              role="button"
              @click="mostrarModalReactivar(vehiculo)"
              v-if="vehiculo.ESTATUS === 'Inactivo'"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  ref="myModal"
  @show="resetNuevoVehiculo"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ vehicleSeleccionado ? 'Editar Vehículo' : 'Agregar Vehículo' }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="form needs-validation" novalidate ref="form">
        <div class="modal-body">
          <div class="mb-3 position-relative">
            <label for="fechaAlta" class="form-label">Fecha de alta</label>
            <input
              type="date"
              class="form-control"
              id="fechaAlta"
              v-model="nuevoVehicle.FECHA_ALTA"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese una fecha válida
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="idTipo" class="form-label">Tipo de Vehículo</label>
            <select
              class="form-select"
              id="idTipo"
              v-model="nuevoVehicle.ID_TIPO_VEHICULO"
              required
            >
              <option value="" disabled>Selecciona un tipo de vehículo</option>
              <option v-for="tipo in tipoVehiculoData" :value="tipo.ID">
                {{ tipo.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="marca" class="form-label">Marca</label>
            <select
              class="form-select"
              id="marca"
              v-model="nuevoVehicle.ID_MARCA"
              required
            >
              <option value="" disabled>Selecciona una marca</option>
              <option v-for="marca in marcasData" :value="marca.ID">
                {{ marca.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="modelo" class="form-label">Modelo</label>
            <select
              class="form-select"
              id="modelo"
              v-model="nuevoVehicle.ID_MODELO"
              required
            >
              <option value="" disabled>Selecciona un modelo</option>
              <option v-for="modelo in modelosData" :value="modelo.ID">
                {{ modelo.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="anio" class="form-label">Año</label>
            <select
              class="form-select"
              id="anio"
              v-model="nuevoVehicle.ID_ANIO"
              required
            >
              <option value="" disabled>Selecciona un año</option>
              <option v-for="anio in aniosData" :value="anio.ID">
                {{ anio.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="notas" class="form-label">Notas</label>
            <input
              type="text"
              class="form-control"
              id="notas"
              v-model="nuevoVehicle.NOTAS"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cerrar
          </button>
          <button
            v-if="!vehicleSeleccionado"
            type="submit"
            class="btn btn-primary"
          >
            Guardar
          </button>
          <button v-else type="submit" class="btn btn-primary">
            Guardar Cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confirmarReactivacionModal"
  tabindex="-1"
  aria-labelledby="confirmarReactivacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarReactivacionModalLabel">
          Confirmar Reactivación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea reactivar el vehículo {{ vehicleSeleccionado ?
        `${vehicleSeleccionado.MARCA} ${vehicleSeleccionado.MODELO}
        ${vehicleSeleccionado.ANIO} con ID ${vehicleSeleccionado.ID}`: '' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          @click="reactivarVehiculoConfirmado"
        >
          Reactivar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confirmarEliminacionModal"
  tabindex="-1"
  aria-labelledby="confirmarEliminacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">
          Confirmar Eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el vehículo {{ vehicleSeleccionado ?
        `${vehicleSeleccionado.MARCA} ${vehicleSeleccionado.MODELO}
        ${vehicleSeleccionado.ANIO} con ID ${vehicleSeleccionado.ID}`: '' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-danger"
          @click="eliminarVehiculoConfirmado"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  v-if="showAlert"
  :class="[alertClass, 'position-fixed', 'top-0', 'start-50', 'translate-middle-x', 'z-index-1000', 'w-300', 'custom-mt', 'text-center', 'rounded-3']"
  role="alert"
>
  {{ alertMessage }}
</div>
