<!-- TABLA -->
<div class="text-bg-dark col-lg-10 col-md-9 col-sm-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="d-inline-block px-5 pt-3">Registro de rentas</h2>
      </div>
      <div class="col d-flex align-items-center justify-content-center">
        <div class="d-flex flex-grow-1"></div>
      </div>
      <div class="col d-flex align-items-center justify-content-end mx-5">
        <div class="col d-flex align-items-center justify-content-end mx-2">
          <button type="button" class="btn btn-primary" @click="initModal()">
            Agregar
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-5 my-2" />
  <div class="table-container px-5">
    <table class="table table-dark table-striped table-sm">
      <thead class="sticky-header">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Cliente</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Fecha de renta</th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Fecha de retorno</th>
          <th scope="col">Costo total</th>
          <th scope="col">Kilometraje inicial</th>
          <th scope="col">Kilometraje final</th>
          <th scope="col">Destino de viaje</th>
          <th scope="col">Estatus</th>
          <th scope="col">Finalizar renta</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Restaurar</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="register in registerData" :key="register.ID">
          <td>{{ register.ID }}</td>
          <td>
            {{ register.NOMBRE_CLIENTE + " " + register.APELLIDOS_CLIENTE }}
          </td>
          <td>
            {{ register.MARCA + " " + register.MODELO + " " + register.ANIO }}
          </td>
          <td>{{ register.FECHA_RENTA }}</td>
          <td>{{ register.FECHA_ENTREGA }}</td>
          <td>{{ register.FECHA_RETORNO }}</td>
          <td>
            {{ register.COSTO_TOTAL === 0 ? '' : '$' +
            register.COSTO_TOTAL.toLocaleString('en-US') }}
          </td>
          <td>{{ register.KILOMETRAJE_INICIAL.toLocaleString('en-US') }} km</td>
          <td>
            {{ register.KILOMETRAJE_FINAL === null ? '' :
            register.KILOMETRAJE_FINAL.toLocaleString('en-US') + ' km' }}
          </td>
          <td>{{ register.DESTINO_DE_VIAJE }}</td>
          <td>
            {{ register.FINALIZADO === 1 && register.ESTATUS === "Activo" ?
            "Finalizado" : register.ESTATUS }}
          </td>
          <td>
            <i
              class="bi bi-check2-all"
              role="button"
              v-if="register.FINALIZADO === 0"
              @click="finalizarRenta(register)"
            ></i>
          </td>
          <td>
            <i
              class="bi bi-pencil"
              role="button"
              @click="editRegister(register)"
            ></i>
          </td>
          <td>
            <i
              class="bi bi-trash"
              role="button"
              @click="mostrarModalEliminar(register)"
              v-if="register.ESTATUS === 'Activo'|register.ESTATUS === 'Indefinido'"
            ></i>
          </td>
          <td>
            <i
              class="bi bi-cloud-arrow-up-fill"
              role="button"
              @click="mostrarModalReactivar(register)"
              v-if="register.ESTATUS === 'Inactivo'"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- FORMULARIO -->
<FormRegisterComponent
  ref="formulario"
  :titleModal="titleModal"
  :modoEdicion="modoEdicion"
  :isFinalizarRenta="isFinalizarRenta"
  :editFinalizado="editFinalizado"
  :clientesData="clientesData"
  :vehiclesData="vehiclesData"
  :cargarRegisterRent="cargarRegisterRent"
  :newRegister="newRegister"
  :registerSelected="registerSelected"
  :modal="modal"
  :manejarGuardarRegistro="manejarGuardarRegistro"
  :mostrarAlerta="mostrarAlerta"
  :resetModal="resetModal"
/>

<!-- MODAL CONFIRMACIÓN REACTIVAR -->
<div
  class="modal fade"
  id="confirmarReactivacionModal"
  tabindex="-1"
  aria-labelledby="confirmarReactivacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarReactivacionModalLabel">
          Confirmar Reactivación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de querer reactivar el registro con ID {{ registerSelected
        ? registerSelected.ID : 'NULL' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          @click="reactivateRegister"
        >
          Reactivar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CONFIRMACIÓN ELIMINAR -->
<div
  class="modal fade"
  id="confirmarEliminacionModal"
  tabindex="-1"
  aria-labelledby="confirmarEliminacionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmarEliminacionModalLabel">
          Confirmar Eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea eliminar el registro con ID {{ registerSelected ?
        registerSelected.ID : 'NULL' }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" @click="deleteRegister">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ALERTAS -->
<div
  v-if="showAlert"
  :class="[alertClass, 'position-fixed', 'top-0', 'start-50', 'translate-middle-x', 'z-index-1000', 'w-300', 'custom-mt', 'text-center', 'rounded-3']"
  role="alert"
>
  {{ alertMessage }}
</div>
