<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ titleModal }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="form needs-validation" novalidate>
        <div class="modal-body">
          <div class="mb-3 position-relative">
            <label for="fechaAlta" class="form-label">Fecha de alta</label>
            <input
              type="date"
              class="form-control"
              id="fechaAlta"
              v-model="nuevoVehicle.FECHA_ALTA"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese una fecha válida
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="idTipo" class="form-label">Tipo de Vehículo</label>
            <select
              class="form-select"
              id="idTipo"
              v-model="nuevoVehicle.ID_TIPO_VEHICULO"
              required
            >
              <option value="" disabled>Selecciona un tipo de vehículo</option>
              <option v-for="tipo in tipoVehiculoData" :value="tipo.ID">
                {{ tipo.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="marca" class="form-label">Marca</label>
            <select
              class="form-select"
              id="marca"
              v-model="nuevoVehicle.ID_MARCA"
              required
            >
              <option value="" disabled>Selecciona una marca</option>
              <option v-for="marca in marcasData" :value="marca.ID">
                {{ marca.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="modelo" class="form-label">Modelo</label>
            <select
              class="form-select"
              id="modelo"
              v-model="nuevoVehicle.ID_MODELO"
              required
            >
              <option value="" disabled>Selecciona un modelo</option>
              <option v-for="modelo in modelosData" :value="modelo.ID">
                {{ modelo.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="anio" class="form-label">Año</label>
            <select
              class="form-select"
              id="anio"
              v-model="nuevoVehicle.ID_ANIO"
              required
            >
              <option value="" disabled>Selecciona un año</option>
              <option v-for="anio in aniosData" :value="anio.ID">
                {{ anio.DESCRIPCION }}
              </option>
            </select>
          </div>
          <div class="mb-3 position-relative">
            <label for="notas" class="form-label">Notas</label>
            <input
              type="text"
              class="form-control"
              id="notas"
              v-model="nuevoVehicle.NOTAS"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">
            {{!vehicleSeleccionado ? 'Guardar' :'Guardar Cambios'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
