<div
  class="modal fade"
  id="modal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
  ref="myModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ titleModal }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form class="form needs-validation" novalidate>
        <div class="modal-body">
          <div class="mb-3 position-relative">
            <label for="idRol" class="form-label">Rol</label>
            <select
              class="form-select"
              id="idRol"
              v-model="nuevoUsuario.ID_ROL"
              required
            >
              <option value="" disabled>Selecciona un rol</option>
              <option v-for="rol in filteredRoles" :value="rol.ID">
                {{ rol.NOMBRE }}
              </option>
            </select>
            <div class="invalid-tooltip fw-bolder">
              Por favor seleccione un rol
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              v-model="nuevoUsuario.NOMBRE"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese un nombre válido
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input
              type="text"
              class="form-control"
              id="apellidos"
              v-model="nuevoUsuario.APELLIDOS"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese unos apellidos válidos
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="fechaNacimiento" class="form-label"
              >Fecha de Nacimiento</label
            >
            <input
              type="date"
              class="form-control"
              id="fechaNacimiento"
              v-model="nuevoUsuario.FECHA_NACIMIENTO"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese una fecha de nacimiento válida
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              id="correo"
              v-model="nuevoUsuario.CORREO"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese un correo válido
            </div>
          </div>
          <div class="mb-3 position-relative">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="contrasena"
              v-model="nuevoUsuario.CONTRASENA"
              required
            />
            <div class="invalid-tooltip fw-bolder">
              Por favor ingrese una contraseña válida
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">
            {{!usuarioSeleccionado ? 'Guardar' :'Guardar Cambios'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
