.bg-info-gradient {
    background: linear-gradient(45deg, #39f, #2982cc);
}

.bg-danger-gradient {
    background: linear-gradient(45deg, #e55353, #d93737);
}

.bg-purple-gradient {
    background: linear-gradient(45deg, #5856d6, #6f67db);
}

.bg-yellow-gradient {
    background: linear-gradient(45deg, #f9b115, #f6960b);
}

.table-container {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

.sticky-header {
    position: sticky;
    top: 0;
}

.card {
    width: 280px;
}

th,
td,
td>i {
    text-align: center;
}