.contenedor {
    background-image: url('../../../assets/background-car.jpg');
    background-size: cover;
    background-position: center;
}

.custom-mt {
    padding: 15px 45px 15px;
    margin-top: 70px;
}