.span {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    border-radius: .25rem 0 0 .25rem;
}

#costoTotal,
#pagoInicial,
#pagoFinal {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}